In [187]:
%matplotlib inline
import pandas as pd
import datetime as dt

In [188]:
# Data: MovieLens
# Read in Movies (m) and Ratings (r) from MovieLens Data
dataDir = '/Users/justinbarton/Documents/Personal/DataScienceIntensive/Data'
m = pd.read_csv(dataDir + '/MovieLens/ml-20m/movies.csv')
r = pd.read_csv(dataDir + '/MovieLens/ml-20m/ratings.csv')

In [189]:
# Data: MovieLens
# Find the average movie rating and store in 'mr'
mr = pd.DataFrame(r[['movieId','rating']].groupby('movieId').mean())
mr.head()

           rating
movieId
1        3.921240
2        3.211977
3        3.151040
4        2.861393
5        3.064592

In [190]:
# Data: MovieLens
# Count the number of ratings and store in 'mc'. Sort by highest number of ratings forst
mc = pd.DataFrame(r[['movieId','rating']].groupby('movieId').size(), columns=['num_ratings']).sort_values(by='num_ratings', ascending=0)
mc.head()

         num_ratings
movieId
296            67310
356            66172
318            63366
593            63299
480            59715

In [191]:
# Data: MovieLens
# Show all movies, number of ratings 'num_ratings' and average rating 'rating'
mrmc = mc.merge(mr, right_index=1, left_index=1)
mrmc.head()

         num_ratings    rating
movieId
1              49695  3.921240
2              22243  3.211977
3              12735  3.151040
4               2756  2.861393
5              12161  3.064592

In [192]:
# Data: MovieLens
# Show the top movies if sorted by average rating, then number of ratings
ms = (m.merge(mrmc,how='left', left_on='movieId',right_index=1).groupby(['title','genres']).mean().
    sort_values(['rating','num_ratings'], ascending=[0,0]))
ms.head(10)

,,movieId,num_ratings,rating
title,genres,,,
Catastroika (2012),Documentary,108527,2.0,5.0
Consuming Kids: The Commercialization of Childhood (2008),Documentary,103871,2.0,5.0
1971 (2014),Documentary,114254,1.0,5.0
A Blank on the Map (1971),Documentary,129478,1.0,5.0
A Gun for Jennifer (1997),Crime|Drama|Thriller,129295,1.0,5.0
A Night for Dying Tigers (2010),Drama,121039,1.0,5.0
Abendland (2011),Documentary,101292,1.0,5.0
Afstiros katallilo (2008),Comedy,129243,1.0,5.0
Al otro lado (2004),Drama,40404,1.0,5.0
Always for Pleasure (1978),(no genres listed),125599,1.0,5.0

In [193]:
# Data: MovieLens
# Find and show the top movies if sorted by average rating, then number of ratings, ...
# for only those that have > 100 ratings, store in 'top_better'
top_better = m.merge(mrmc[mrmc.num_ratings>100],how='inner', left_on='movieId',right_index=1) \
                .groupby(['title','genres']).mean() \
              .sort_values(['rating','num_ratings'], ascending=[0,0])
top_better[top_better.rating.notnull()].head()
top_better.reset_index(inplace=True)
len(top_better)
#top_better

8532

In [194]:
# Data: MovieLens
# Separate the title and the year in separate columns for MovieLen titles
top_better['year'] = top_better.title.str.extract('[(](\d{4})[)]') 
top_better['title'] = top_better.title.str.replace(r' [(]\d{4}[)]', '')
top_better['year'].fillna('0', inplace=True)
top_better['year'] = top_better['year'].astype(int)
top_better.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8532 entries, 0 to 8531
Data columns (total 6 columns):
title          8532 non-null object
genres         8532 non-null object
movieId        8532 non-null int64
num_ratings    8532 non-null int64
rating         8532 non-null float64
year           8532 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 400.0+ KB

/Users/justinbarton/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()

In [195]:
# Data: MovieLens
# Move the 'The' to the start of the film title for MovieLens titles
df = top_better
df['has_the'] = df.title.str.contains(', The')
df.title = df.title.str.replace(r', The', '')
df.ix[df.has_the, 'title'] = 'The ' + df.ix[df.has_the, 'title']
df[df.has_the].head()

,title,genres,movieId,num_ratings,rating,year,has_the
0,The Shawshank Redemption,Crime|Drama,318,63366,4.446990,1994,True
1,The Godfather,Crime|Drama,858,41355,4.364732,1972,True
2,The Usual Suspects,Crime|Mystery|Thriller,50,47006,4.334372,1995,True
4,The Godfather: Part II,Crime|Drama,1221,27398,4.275641,1974,True
12,The Third Man,Film-Noir|Mystery|Thriller,1212,6565,4.246002,1949,True

In [196]:
# Data: MovieLens
# Find and show from 'top better' movies, only those made on or after 1965
top_better_new = top_better[top_better.year >= 1965]
#len(top_better_new)
top_better_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7640 entries, 0 to 8531
Data columns (total 7 columns):
title          7640 non-null object
genres         7640 non-null object
movieId        7640 non-null int64
num_ratings    7640 non-null int64
rating         7640 non-null float64
year           7640 non-null int64
has_the        7640 non-null bool
dtypes: bool(1), float64(1), int64(3), object(2)
memory usage: 425.3+ KB

In [197]:
# Data: Excel - My Movie Ratings
# Read in the films that I've already reviewed
pd.set_option('display.max_rows', 5000)
jb = pd.read_excel('output_JB1.xlsx')
jb.movieId = jb.movieId.astype(int)
jb = jb.merge(mrmc, left_on='movieId', right_index=1)
jb['reviewed'] = jb['out_of_10'].bfill().notnull() # Flag all of the films I've reviwed, so that I don't have to do it again
jb = jb[jb['reviewed']]
jb_watched = jb[jb['out_of_10'].notnull()]
jb_watched.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 256 to 2258
Data columns (total 6 columns):
movieId        274 non-null int64
title          274 non-null object
out_of_10      274 non-null float64
num_ratings    274 non-null int64
rating         274 non-null float64
reviewed       274 non-null bool
dtypes: bool(1), float64(2), int64(2), object(1)
memory usage: 13.1+ KB

In [198]:
# Data: OMDB
# Read in data from from omdb Data
dataDir = '/Users/justinbarton/Documents/Personal/DataScienceIntensive/Data'
om = pd.read_csv(dataDir + '/omdb/all_movies.csv', error_bad_lines=False)
od = pd.read_csv(dataDir + '/omdb/movie_details.csv')
ol = pd.read_csv(dataDir + '/omdb/movie_languages.csv')
ot = pd.read_csv(dataDir + '/omdb/trailers.csv')
op = pd.read_csv(dataDir + '/omdb/all_people.csv')
oj = pd.read_csv(dataDir + '/omdb/job_names.csv')
oc = pd.read_csv(dataDir + '/omdb/all_casts.csv', error_bad_lines=False)

# Find all jobs for english speaking films
jobs = oj[oj.language_iso_639_1=='en'].merge(oc, left_on='job_id', right_on='job_id')
#most_common_jobs = jobs.groupby('name').size().sort_values(ascending=0)
#'Actor', 'Director', 'Screenplay', 'Producer', 'Director of Photography', 'Editor', 'Original Music Composer'
#'Editor', 'Original Music Composer', 'Executive Producer', 'Music'

# Find all directors and their movies
directorID = oj[(oj.name=='Director')&(oj.language_iso_639_1=='en')].job_id.iloc[0]
directors_movies = jobs[jobs.name=='Director'].merge(op, left_on='person_id', right_on='id')[['movie_id','person_id','name_y']]
directors_movies.head()

Skipping line 6074: expected 4 fields, saw 5
Skipping line 28493: expected 4 fields, saw 5

Skipping line 39995: expected 5 fields, saw 6
Skipping line 110384: expected 5 fields, saw 6

Skipping line 187226: expected 5 fields, saw 6
Skipping line 237735: expected 5 fields, saw 9
Skipping line 237736: expected 5 fields, saw 9

Skipping line 332128: expected 5 fields, saw 8
Skipping line 332424: expected 5 fields, saw 7
Skipping line 348703: expected 5 fields, saw 6
Skipping line 365812: expected 5 fields, saw 6

Skipping line 655284: expected 5 fields, saw 6
Skipping line 655285: expected 5 fields, saw 6

Skipping line 679612: expected 5 fields, saw 6

   movie_id  person_id        name_y
0        11          1  George Lucas
1       636          1  George Lucas
2       838          1  George Lucas
3      1893          1  George Lucas
4      1894          1  George Lucas

In [199]:
# Data: OMDB
# Get the Year from the OMDB data
om.date.astype(str, inplace=True) # Convert dates to string
om.loc[om.date == '\N'] = '' # Remove null dates '/N'
om['year'] = pd.to_datetime(om.date.astype(str), format='%Y-%m-%d') # Get the date format
om['year'] = om['year'].dt.year.fillna(0).astype(int) # Extract the year as an int, from the date
om.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39726 entries, 0 to 39725
Data columns (total 5 columns):
id           39726 non-null object
name         39726 non-null object
parent_id    39726 non-null object
date         39726 non-null object
year         39726 non-null int64
dtypes: int64(1), object(4)
memory usage: 1.5+ MB

In [257]:
# Data: MovieLens & OMDB
# Merge the MovieLens and OMDB data into one dataframe called 'films' (merging by movie title and year)
# (This is a very basic way to join movie titles together, but will suffice for proof of concept.
# Some examples of incorrect mismatches to be studied later include:
# 'City of God (Cidade de Deus)' in MovieLens and 'City of God' in OMDB 
# 'One Flew Over the Cuckoo's Nest' in MovieLens and 'One Flew Over The Cuckoo's Nest' in OMDB
# 'Star Wars: Episode IV - A New Hope' in MovieLens and 'Star Wars: Episode IV â€“ A New Hope' in OMDB)
df = top_better_new.merge(om, left_on=['title', 'year'], right_on=['name', 'year'], how='left')
df = df[df.name.notnull()]
films = df
films.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5046 entries, 0 to 7650
Data columns (total 11 columns):
title          5046 non-null object
genres         5046 non-null object
movieId        5046 non-null int64
num_ratings    5046 non-null int64
rating         5046 non-null float64
year           5046 non-null int64
has_the        5046 non-null bool
id             5046 non-null object
name           5046 non-null object
parent_id      5046 non-null object
date           5046 non-null object
dtypes: bool(1), float64(1), int64(3), object(6)
memory usage: 438.6+ KB

In [258]:
# Data: MovieLens & OMDB
# Remove all of the films that don't have an English language format
#df = films
df = films
df = df.merge(ol, left_on='id', right_on='movie_id')
df = df[df.language_iso_639_1 == 'en']
films = df
films.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4859 entries, 0 to 5852
Data columns (total 13 columns):
title                 4859 non-null object
genres                4859 non-null object
movieId               4859 non-null int64
num_ratings           4859 non-null int64
rating                4859 non-null float64
year                  4859 non-null int64
has_the               4859 non-null bool
id                    4859 non-null object
name                  4859 non-null object
parent_id             4859 non-null object
date                  4859 non-null object
movie_id              4859 non-null int64
language_iso_639_1    4859 non-null object
dtypes: bool(1), float64(1), int64(4), object(7)
memory usage: 498.2+ KB

In [250]:
# Data: IMDB
# Read in IMDB Data
cast = pd.read_csv(dataDir +'/IMDB/cast.csv')
titles = pd.read_csv(dataDir +'/IMDB/titles.csv')

# Create data frame with titles and films, it and with id 'index'
titles.reset_index(inplace=True)
titles_cast = cast.merge(titles)

titles_cast.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3475509 entries, 0 to 3475508
Data columns (total 7 columns):
title        object
year         int64
name         object
type         object
character    object
n            float64
index        int64
dtypes: float64(1), int64(2), object(4)
memory usage: 212.1+ MB

In [259]:
# Data: MovieLens & OMDB & IMDB
# Connect IMDB data to 'films' in order to call upon cast list
# (similarly to above, 'title' and 'year' here do not provide a full-proof matching system between data sets,
# will need to analyse this further in future versions.. For example:
# 'V for Vendetta' is a 2006 movie in MovieLens and OMDB, but its a 2005 movie in IMDB,
# 'Batman: The Dark Knight Returns, Part 2' for MovieLens/OMDB and 'The Dark Knight: Knightfall - Part Two' in IMDB
# 'Birdman' in MovieLens and OMDB and 'Birdman or (The Unexpected Virtue of Ignorance)' in IMDB
df = films
imdb_connector_fields = ['title', 'year']
df = df.merge((titles_cast[['index']+imdb_connector_fields]).drop_duplicates(), left_on=['title', 'year'], 
              right_on = imdb_connector_fields, how='left')
df.info()
df = df[df['index'].notnull()]
films = df
films.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4859 entries, 0 to 4858
Data columns (total 14 columns):
title                 4859 non-null object
genres                4859 non-null object
movieId               4859 non-null int64
num_ratings           4859 non-null int64
rating                4859 non-null float64
year                  4859 non-null int64
has_the               4859 non-null bool
id                    4859 non-null object
name                  4859 non-null object
parent_id             4859 non-null object
date                  4859 non-null object
movie_id              4859 non-null int64
language_iso_639_1    4859 non-null object
index                 4555 non-null float64
dtypes: bool(1), float64(2), int64(4), object(7)
memory usage: 536.2+ KB

In [ ]:
# Output spreadsheet of films for users to review...

In [220]:
# Data: MovieLens & OMDB & Excel(ratings)
# Find all the films I've watched that are in the films dataframe
jb_films = jb_watched.merge(films, left_on='movieId', right_on='movieId', how='left')
jb_films = jb_films[jb_films.title_y.notnull()]

In [244]:
# Find my preferred directors
df = jb_films
jb_directors = df[df.out_of_10 >= 7].merge(directors_movies, left_on='id', right_on='movie_id')
director_counts = pd.DataFrame(jb_directors.groupby(['name_y']).size(), columns=['director_count'])
jb_directors['director_count'] = jb_directors.merge(director_counts, left_on='name_y', right_index=True)['director_count']

fields_desired = ['title_y', 'out_of_10', 'name_y', 'director_count', 'num_ratings_y','rating_y']

jb_directors.sort_values(by=['director_count','name_y'], ascending=[False, True])[fields_desired]

,title_y,out_of_10,name_y,director_count,num_ratings_y,rating_y
15,The Dark Knight Rises,8.0,Christopher Nolan,5,4770.0,4.000210
20,Batman Begins,8.0,Christopher Nolan,5,18686.0,3.970754
29,The Prestige,9.0,Christopher Nolan,5,11269.0,4.042195
32,Memento,9.0,Christopher Nolan,5,30443.0,4.178547
36,The Dark Knight,8.0,Christopher Nolan,5,20438.0,4.220129
9,Raging Bull,7.0,Martin Scorsese,5,9711.0,4.083411
35,The Departed,9.0,Martin Scorsese,5,14309.0,4.109931
39,Taxi Driver,7.0,Martin Scorsese,5,24481.0,4.110576
40,Goodfellas,8.0,Martin Scorsese,5,26406.0,4.183633
61,Shutter Island,9.0,Martin Scorsese,5,5930.0,3.904469
8,Pulp Fiction,8.0,Quentin Tarantino,5,67310.0,4.174231
37,Django Unchained,9.0,Quentin Tarantino,5,4328.0,4.037893
38,Reservoir Dogs,7.0,Quentin Tarantino,5,27635.0,4.089361
41,Inglourious Basterds,8.0,Quentin Tarantino,5,9447.0,4.019636
116,Sin City,7.0,Quentin Tarantino,5,15481.0,3.874201
133,About Schmidt,7.0,Alexander Payne,3,5438.0,3.470945
150,Sideways,7.0,Alexander Payne,3,7532.0,3.721654
151,Sideways,7.0,Alexander Payne,3,7532.0,3.721654
42,Gran Torino,9.0,Clint Eastwood,3,6379.0,3.979307
98,Invictus,7.0,Clint Eastwood,3,847.0,3.591499
156,Million Dollar Baby,8.0,Clint Eastwood,3,9159.0,3.870892
14,No Country for Old Men,8.0,Ethan Coen,3,10248.0,3.994389
25,Fargo,7.0,Ethan Coen,3,43272.0,4.112359
146,Burn After Reading,8.0,Ethan Coen,3,4158.0,3.561328
3,The Shawshank Redemption,9.0,Frank Darabont,3,63366.0,4.446990
31,The Green Mile,8.0,Frank Darabont,3,21080.0,3.982661
108,The Mist,7.0,Frank Darabont,3,1665.0,3.484384
51,The Terminator,7.0,James Cameron,3,33429.0,3.896392
94,Avatar,7.0,James Cameron,3,9753.0,3.776582
160,Titanic,7.0,James Cameron,3,32238.0,3.338188
13,No Country for Old Men,8.0,Joel Coen,3,10248.0,3.994389
24,Fargo,7.0,Joel Coen,3,43272.0,4.112359
145,Burn After Reading,8.0,Joel Coen,3,4158.0,3.561328
50,Forrest Gump,9.0,Robert Zemeckis,3,66172.0,4.029000
126,Contact,7.0,Robert Zemeckis,3,19874.0,3.653316
152,Back to the Future,7.0,Robert Zemeckis,3,41426.0,3.924142
44,Saving Private Ryan,8.0,Steven Spielberg,3,37110.0,4.064417
48,Schindler's List,9.0,Steven Spielberg,3,50054.0,4.310175
95,The Terminal,7.0,Steven Spielberg,3,5264.0,3.509688
67,Midnight in Paris,7.0,Woody Allen,3,2305.0,3.817354
79,Match Point,7.0,Woody Allen,3,3366.0,3.739453
92,Vicky Cristina Barcelona,7.0,Woody Allen,3,1850.0,3.672162
16,Requiem for a Dream,8.0,Darren Aronofsky,2,14515.0,4.033586
159,Black Swan,9.0,Darren Aronofsky,2,5287.0,3.878003
43,Moon,8.0,Duncan Jones,2,4867.0,4.021060
57,Source Code,7.0,Duncan Jones,2,3374.0,3.752223
52,The Power of One,8.0,John G. Avildsen,2,468.0,3.683761
99,The Karate Kid,8.0,John G. Avildsen,2,8234.0,3.286434
7,The Graduate,8.0,Mike Nichols,2,17039.0,4.073889
82,The Birdcage,7.0,Mike Nichols,2,22020.0,3.512216
45,Amadeus,8.0,MiloÅ¡ Forman,2,20545.0,4.073887
76,The People vs. Larry Flynt,7.0,MiloÅ¡ Forman,2,9028.0,3.571943
59,American Gangster,8.0,Ridley Scott,2,5055.0,3.825420
69,Matchstick Men,7.0,Ridley Scott,2,4936.0,3.654882
118,Sin City,7.0,Robert Rodriguez,2,15481.0,3.874201
134,From Dusk Till Dawn,7.0,Robert Rodriguez,2,12712.0,3.277454
1,American Beauty,9.0,Sam Mendes,2,44987.0,4.155934
101,Jarhead,7.0,Sam Mendes,2,2987.0,3.486776
2,The Shining,7.0,Stanley Kubrick,2,23410.0,4.011534
28,Full Metal Jacket,7.0,Stanley Kubrick,2,21926.0,4.033180
149,The Secret Garden,7.0,Agnieszka Holland,1,7459.0,3.539080
103,Angela's Ashes,7.0,Alan Parker,1,1525.0,3.505902
88,21 Grams,7.0,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,1,6027.0,3.711797
23,The Fugitive,7.0,Andrew Davis,1,49581.0,3.985690
89,Hitch,7.0,Andy Tennant,1,4080.0,3.423775
104,Shooter,7.0,Antoine Fuqua,1,2059.0,3.602963
137,Rain Man,8.0,Barry Levinson,1,24591.0,3.899170
97,The Rebound,7.0,Bart Freundlich,1,109.0,3.440367
127,Strictly Ballroom,7.0,Baz Luhrmann,1,7657.0,3.830939
85,Moneyball,7.0,Bennett Miller,1,2195.0,3.876310
58,The Dreamers,8.0,Bernardo Bertolucci,1,1101.0,3.607629
96,Kinsey,8.0,Bill Condon,1,1843.0,3.596853
130,Frailty,7.0,Bill Paxton,1,2440.0,3.665574
83,Scarface,7.0,Brian de Palma,1,10494.0,3.943015
11,The Usual Suspects,9.0,Bryan Singer,1,47006.0,4.334372
154,Mrs. Doubtfire,7.0,Chris Columbus,1,34392.0,3.386267
12,L.A. Confidential,7.0,Curtis Hanson,1,26836.0,4.083377
46,Whiplash,8.0,Damien Chazelle,1,602.0,4.074751
148,Matilda,7.0,Danny DeVito,1,5294.0,3.430676
5,Fight Club,9.0,David Fincher,1,40106.0,4.227123
106,Ghost Town,7.0,David Koepp,1,893.0,3.477044
17,House of Games,8.0,David Mamet,1,1970.0,3.967766
87,Major League,7.0,David S. Ward,1,3662.0,3.484708
90,Winter's Bone,7.0,Debra Granik,1,1170.0,3.758974
140,The Place Beyond the Pines,8.0,Derek Cianfrance,1,464.0,3.671336
128,Swingers,9.0,Doug Liman,1,9846.0,3.858318
124,Hot Fuzz,7.0,Edgar Wright,1,7659.0,3.866105
100,Keeping the Faith,7.0,Edward Norton,1,4033.0,3.459459
91,Legends of the Fall,7.0,Edward Zwick,1,16171.0,3.496259
117,Sin City,7.0,Frank Miller,1,15481.0,3.874201
60,Pretty Woman,8.0,Garry Marshall,1,33900.0,3.420428
47,Warrior,9.0,Gavin O'Connor,1,949.0,3.952055
102,Romper Stomper,7.0,Geoffrey Wright,1,1264.0,3.553797
157,Grosse Pointe Blank,7.0,George Armitage,1,14487.0,3.745461
81,The Adjustment Bureau,7.0,George Nolfi,1,1711.0,3.580655
121,Fracture,7.0,Gregory Hoblit,1,1615.0,3.699071
0,Good Will Hunting,9.0,Gus Van Sant,1,28324.0,4.032517
129,Gone in 60 Seconds,7.0,H.B. Halicki,1,137.0,3.427007
21,Harold and Maude,7.0,Hal Ashby,1,8066.0,3.999814
155,Groundhog Day,7.0,Harold Ramis,1,32026.0,3.867623
138,True Grit,8.0,Henry Hathaway,1,1794.0,3.635730
105,Identity,7.0,James Mangold,1,4874.0,3.583607
142,The Theory of Everything,8.0,James Marsh,1,349.0,3.716332
68,Saw,7.0,James Wan,1,5499.0,3.466994
120,Up in the Air,9.0,Jason Reitman,1,3600.0,3.759444
109,Meet the Parents,7.0,Jay Roach,1,15713.0,3.451282
135,Rocket Science,7.0,Jeffrey Blitz,1,336.0,3.572917
63,Ghost,8.0,Jerry Zucker,1,29488.0,3.443859
66,Broken Flowers,7.0,Jim Jarmusch,1,2922.0,3.615332
93,Atonement,7.0,Joe Wright,1,2330.0,3.740987
56,Begin Again,7.0,John Carney,1,220.0,3.663636
114,Boy A,8.0,John Crowley,1,513.0,3.780702
112,The Breakfast Club,8.0,John Hughes,1,21158.0,3.828646
147,Coming to America,7.0,John Landis,1,4308.0,3.494661
10,Midnight Cowboy,7.0,John Schlesinger,1,6302.0,4.000635
80,Phenomenon,7.0,Jon Turteltaub,1,12539.0,3.490510
22,The Silence of the Lambs,9.0,Jonathan Demme,1,63299.0,4.177057
125,The Accused,7.0,Jonathan Kaplan,1,1705.0,3.734018
122,Point Break,7.0,Kathryn Bigelow,1,3854.0,3.321354
84,What's Eating Gilbert Grape,8.0,Lasse HallstrÃ¶m,1,17881.0,3.755830
86,The Girl Next Door,7.0,Luke Greenfield,1,2142.0,3.323763
26,The Sixth Sense,8.0,M. Night Shyamalan,1,39028.0,4.054999
73,Meet Joe Black,7.0,Martin Brest,1,5210.0,3.287140
64,In Bruges,8.0,Martin McDonagh,1,4916.0,3.891884
136,The Truth About Cats & Dogs,7.0,Michael Lehmann,1,15263.0,3.405032
34,Eternal Sunshine of the Spotless Mind,8.0,Michel Gondry,1,22352.0,4.105628
143,Reign Over Me,7.0,Mike Binder,1,901.0,3.653163
4,Office Space,8.0,Mike Judge,1,20328.0,3.985390
6,Secrets & Lies,7.0,Mike Leigh,1,5625.0,4.058044
49,The Imitation Game,9.0,Morten Tyldum,1,759.0,3.980237
131,Drive,7.0,Nicolas Winding Refn,1,2916.0,3.844993
55,Frances Ha,8.0,Noah Baumbach,1,256.0,3.755859
153,Wall Street,7.0,Oliver Stone,1,4627.0,3.719581
144,My Best Friend's Wedding,7.0,P.J. Hogan,1,9955.0,3.279257
110,50 First Dates,8.0,Peter Segal,1,6093.0,3.369933
115,Dead Poets Society,8.0,Peter Weir,1,20538.0,3.893807
70,Grease,7.0,Randal Kleiser,1,15630.0,3.314459
72,Dodgeball: A True Underdog Story,7.0,Rawson Marshall Thurber,1,5403.0,3.334444
141,Felon,8.0,Ric Roman Waugh,1,572.0,3.763112
65,Love Actually,8.0,Richard Curtis,1,8716.0,3.799736
18,Donnie Darko,9.0,Richard Kelly,1,18731.0,4.015990
123,Boyhood,7.0,Richard Linklater,1,913.0,3.853231
54,When Harry Met Sally...,9.0,Rob Reiner,1,21888.0,3.842996
111,The Time Traveler's Wife,7.0,Robert Schwentke,1,820.0,3.565244
158,The Sound of Music,8.0,Robert Wise,1,14049.0,3.804434
107,Resurrecting the Champ,7.0,Rod Lurie,1,113.0,3.345133
27,The Pianist,7.0,Roman PolaÅ„ski,1,10515.0,4.053923
132,Spider-Man,7.0,Sam Raimi,1,23404.0,3.569176
30,Into the Wild,8.0,Sean Penn,1,4945.0,3.965521
113,Bridget Jones's Diary,7.0,Sharon Maguire,1,11986.0,3.463249
74,Find Me Guilty,7.0,Sidney Lumet,1,274.0,3.308394
53,The Jungle Book,7.0,Stephen Sommers,1,7629.0,3.397169
71,Erin Brockovich,8.0,Steven Soderbergh,1,15909.0,3.590389
139,Tootsie,7.0,Sydney Pollack,1,8015.0,3.651778
75,The Savages,7.0,Tamara Jenkins,1,705.0,3.593617
62,Edward Scissorhands,7.0,Tim Burton,1,21394.0,3.727096
77,That Thing You Do!,7.0,Tom Hanks,1,8327.0,3.450042
33,The King's Speech,7.0,Tom Hooper,1,5629.0,4.022206
19,American History X,9.0,Tony Kaye,1,23309.0,4.151208
119,Top Gun,7.0,Tony Scott,1,20338.0,3.414151
78,Man of Steel,7.0,Zack Snyder,1,1120.0,3.391071

In [ ]:
# Take the above and create a generic function 'my preferred people' tables, which could be directors, screenplay, music, billed actors

In [ ]:
# Find my preferred screenplay

In [ ]:
# Find my preferred actors/actresses (that are at least credited in that film)

In [ ]:
# Find simliar users

In [ ]:
# To be used for generating the surveys for people
#df = top_better

#top500 = df.head(500)
#top500 = top500.reindex(pd.np.random.permutation(top500.index))
#next4500 = df.head(5000).tail(4500)
#next4500 = next4500.reindex(pd.np.random.permutation(next4500.index))
#output = top500.append(next4500)
#output.head()

In [ ]:
#import sys  
#reload(sys)  
#sys.setdefaultencoding('utf8')

# Save output to spreadsheet for each person
#output[['movieId','title']].to_excel('output.xlsx','Sheet1')